<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>139724577012-8a58nmtor1vqi1i932sjohu8mpo6kfnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139724577012-8a58nmtor1vqi1i932sjohu8mpo6kfnd</string>
	<key>API_KEY</key>
	<string>AIzaSyC4Km4kno5jsfoxCVGQQkGIh-ZKeGkK7kM</string>
	<key>GCM_SENDER_ID</key>
	<string>139724577012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinShine.OurSpace</string>
	<key>PROJECT_ID</key>
	<string>ourspace-13924</string>
	<key>STORAGE_BUCKET</key>
	<string>ourspace-13924.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139724577012:ios:1f1f7dfae8b22807</string>
	<key>DATABASE_URL</key>
	<string>https://ourspace-13924.firebaseio.com</string>
</dict>
</plist>