<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019833113986-f2dk2pcg3m1llsdriiamqeqhu26hdnv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019833113986-f2dk2pcg3m1llsdriiamqeqhu26hdnv8</string>
	<key>API_KEY</key>
	<string>AIzaSyBOlLWFR5qLar8dBkVGZ5wxlrqPm2YEvbM</string>
	<key>GCM_SENDER_ID</key>
	<string>1019833113986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buzz.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-a668f</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-a668f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019833113986:ios:8031070db458941d33039b</string>
</dict>
</plist>